.spinner {
  width: 56px;
  height: 56px;
  border: 11.2px var(--color-primary) double;
  border-left-style: solid;
  border-radius: 50%;
  -webkit-animation: spinner-aib1d7 0.75s infinite linear;
          animation: spinner-aib1d7 0.75s infinite linear;
}

@-webkit-keyframes spinner-aib1d7 {
  to {
      transform: rotate(360deg);
  }
}

@keyframes spinner-aib1d7 {
  to {
      transform: rotate(360deg);
  }
}